<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="woojooin.planitbatch.domain.vo" />
    </typeAliases>

    <typeHandlers>
        <typeHandler
                javaType="woojooin.planitbatch.domain.product.enums.InvestType"
                handler="org.apache.ibatis.type.EnumTypeHandler"/>
    </typeHandlers>

</configuration>
