<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="woojooin.planitbatch.domain.mapper.ActionMapper">
    <select id="getActionsByObjectId" parameterType="java.math.BigInteger" resultType="woojooin.planitbatch.domain.vo.Action">
        SELECT 
            action_id as actionId,
            object_id as objectId,
            member_product_id as memberProductId,
            allocated_rate as allocatedRate,
            account_allocated_rate as accountAllocatedRate,
            amount,
            action_type as actionType,
            is_deleted as isDeleted
        FROM action
        WHERE object_id = #{objectId}
        AND (is_deleted = false OR is_deleted IS NULL)
    </select>

    <select id="getActionsByObjectIds" resultType="woojooin.planitbatch.domain.vo.Action">
        SELECT 
            action_id as actionId,
            object_id as objectId,
            account_id as accountId,
            member_product_id as memberProductId,
            allocated_rate as allocatedRate,
            account_allocated_rate as accountAllocatedRate,
            account_type as accountType,
            amount,
            is_deleted as isDeleted
        FROM action
        WHERE object_id IN
        <foreach collection="objectIds" item="objectId" open="(" separator="," close=")">
            #{objectId}
        </foreach>
        AND (is_deleted = false OR is_deleted IS NULL)
    </select>
</mapper>