<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="woojooin.planitbatch.domain.mapper.MemberProductMapper">
    
    
    <select id="getMemberProductsByMemberIds" resultType="woojooin.planitbatch.domain.vo.MemberProduct">
        SELECT 
            member_product_id as memberProductId,
            member_id as memberId,
            product_id as productId,
            present_amount as presentAmount,
            quantity
        FROM member_product
        WHERE member_id IN 
        <foreach collection="memberIds" item="memberId" open="(" close=")" separator=",">
            #{memberId}
        </foreach>
    </select>
    
    <select id="getMemberProductsByIds" resultType="woojooin.planitbatch.domain.vo.MemberProduct">
        SELECT 
            member_product_id as memberProductId,
            member_id as memberId,
            product_id as productId,
            present_amount as presentAmount,
            quantity
        FROM member_product
        WHERE member_product_id IN
        <foreach collection="memberProductIds" item="memberProductId" open="(" separator="," close=")">
            #{memberProductId}
        </foreach>
    </select>
    
</mapper>